<div class="card shadow mb-4">
  <link rel="stylesheet" href="https://filebin.net/dz5yiw44tte0ba79/temp.css?t=jupxmufp">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">List your product</h6>
    </div>

        <form [formGroup]="myForm" (submit)="submit(myForm)">
            <div class="form-group">
                <label for="name">Name: </label>  <input id="textInp" class="form-control"   formControlName="name" name="name" required>
              </div>
            <div class="form-group">
                <label for="name">Price </label>  <input id="textInp" class="form-control"   formControlName="price" name="price" required>
              </div>
            <div class="form-group">
                <label for="name">Stock: </label>  <input id="textInp" class="form-control"   formControlName="stock" name="stock" required>
              </div>
              <div >
                <button class="btn btn-primary" type="submit">Send</button>
              </div>
        </form>

   
  </div>



  